# Python cache
__pycache__/
*.pyc

# Conda / virtual env
.env
.env.*
venv/
env/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Unnecessary python file(s)
test.py

# Large files (optional safety)
*.zip
*.tar
*.tar.gz
